// Override default variables before the import
// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

h1 {
    font-family: Helvetica, Arial;
    
}

body {
    font-family: Helvetica, Arial;
    color: black;
    background-color: #e6efff;
}
